<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id ="dao" class ="bank.AccountDAO"/>
<bean id ="basic" class ="bank.BasicReport"/>

<bean id = "cservice" class = "bank.AcconuntCreateService">
<constructor-arg name = "dao" ref ="dao"/>
</bean>

<bean id ="tservice" class = "bank.TransactionService">
<constructor-arg name = "dao" ref ="dao"/>
</bean>

<bean id = "every" class ="bank.ReportEveryAccountService">
<constructor-arg name = "dao" ref ="dao"/>

</bean>


</beans>





