<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Ch01_Servlet</display-name>
  <servlet>
    <description></description>
    <display-name>HelloWorldServlet</display-name>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>com.yu.servlet.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.ex01.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet2</display-name>
    <servlet-name>LoginServlet2</servlet-name>
    <servlet-class>servlet.ex01.LoginServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet2</servlet-name>
    <url-pattern>/login2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>servlet.ex02.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>servlet.ex02.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet2</display-name>
    <servlet-name>FirstServlet2</servlet-name>
    <servlet-class>servlet.ex02.FirstServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet2</servlet-name>
    <url-pattern>/first2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SenderServlet</display-name>
    <servlet-name>SenderServlet</servlet-name>
    <servlet-class>servlet.ex03.SenderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SenderServlet</servlet-name>
    <url-pattern>/sender</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiverServlet</display-name>
    <servlet-name>ReceiverServlet</servlet-name>
    <servlet-class>servlet.ex03.ReceiverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiverServlet</servlet-name>
    <url-pattern>/receiver</url-pattern>
  </servlet-mapping>
</web-app>